<header class="intro">
  <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">MUSIC WALL</h1>
                  <p class="intro-text">Create, Listen, Discover</p>
                  <a href="/tracks" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                  </a>
                  <p><a href="/login" class="intro-text">Log in </a> <i class="fa fa-ellipsis-v"></i> <a href="/users/new" class="intro-text"> Sign up</a></p>
              </div>
          </div>
      </div>
  </div>
</header>
